:root {
    --font-family-primary: "Muli", sans-serif;
    --font-family-secondary: "Space Mono", monospace;
    --color-primary: #5192ae;
    --color-secondary: #96af50;
    --color-tertiary: #af5096;
}